body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container {
    padding: 3em 0;
}

#calculator {
    width: 35%;
    margin: 0 auto;
    padding: .5em;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

#calculator #results {
    height: 3em;
    background: #333;
    color: #fff;
    border-radius: 5px;
    margin-bottom: .75em;
    padding: .5em;
    text-align: right;
}

#calculator #buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .5em;
}

#calculator #buttons #button {
    border-radius: 3px;
    border: none;
    padding: .5em .75em;
    background: #919191;
    transition: background 250ms ease-out;
}

#calculator #buttons #button:hover,
#calculator #buttons #button:focus {
    background: #c4c4c4;
}

.copyrights {
    text-align: center;
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-top: .5em;
    color: #dadada;
    font-family: cursive;
}